.correct {
    background-color: rgb(63, 199, 63);
}
.present {
    background-color: rgb(255, 200, 0);
}
.incorrect {
    background-color: lightcoral;
}
.unchecked {
    background-color: rgb(234, 225, 105);
}
.multi-wordle-box {
    display: grid;
    flex-direction: row;
    justify-content: space-evenly;
}
.wordle-status {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}
.wordle-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
    outline: 1px;
    outline-color: black;
    
}
.wd-player {
    grid-row: 2;
    grid-column: 1;
}
.wd-opponent {
    grid-row: 2;
    grid-column: 3;
}
.wordle {
    display: grid;
    grid-template-columns: repeat(5,auto);
    gap: 1px;
    max-height: 500px;
    overflow-y: auto;

}
.letter {
    text-align: center;

}